$od-blue: #164A7A;
$od-blue-05: rgba(22,74,122,.05);

// Modifier to add the main blue color

.m-od-blue {
    background-color: $od-blue;
}

// This should probably become a component.
// Note that it @extends the b-slide component, so maybe they should be somehow linked to each other.

.b-quote-slide {
    @extend .b-slide;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    margin: 0;
    min-height: 310px;

    // This <img> could be transformed into a ::before, for easier reuse.
    > img {
        max-width: 50px;
        margin: 30px auto;
        opacity: .2;
    }

    p {
        // text-align: center;
        font-size: 24px;
        color: $white;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .e-author {
        font-size: 16px;
        font-style: italic;
    }
}

// This should probably become a component.
.b-list-of-names {
    margin: 0;

    li {
        font-size: 14px;
        list-style-type: none;
        margin-bottom: 10px;
        color: $gray-60;
        font-style: italic;

        strong {
            display: block;
            font-size: 16px;
            color: $black;
            font-style: normal;
            line-height: 1;
            font-weight: 600;
        }
    }
}

.b-page-section {
    aside h3 {
        text-align: right;
        padding-right: 30px;
    }

    .e-expandable {

        * {
            font-size: 1.1rem;
            font-weight: 300;
        }

        > *:only-of-type { display: block; }
        > *:only-of-type + .e-read-more { display: none; }

        .m-show { display: block; }

        .e-read-more {
            display: inline;
            cursor: pointer;
            color: $od-blue;
            font-weight: 600;

            &:hover { text-decoration: underline; }
        }

        h3 {
            font-weight: bold;
            color: $od-blue;
            margin-top: 30px;
        }

        h5 {
            text-align: center;
            font-size: 14px;
            font-style: italic;
        }

        b { font-weight: bold; }

        img {
            box-shadow: 0 0 8px $gray-10;
            margin: 30px 0;
        }

        blockquote {
            background-color: $od-blue-05;
            padding: 20px 20px 20px 40px;
            position: relative;

            &:before {
                background-image: url("../img/quote.svg");
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: center;
                @include circle;
                height: 34px;
                width: 34px;
                background-color: $od-blue;
                content: '';
                position: absolute;
                left: -17px;
            }

        }



    }
}

.case-study-page {
    .b-top-section {
        margin-bottom: 60px;
    }
}

// This is the custom CSS for the about page.
// Note that it is properly scoped inside the #about-page ID, so these styles won't leak anywhere else,
// and will also be applied with a high specificity, over the component base styles.

#about-page {
    .b-top-section {
        height: 300px;
        padding-top: 130px;
    }

    .b-page-section {
        padding-top: 50px;

        h3 {
            font-size: 18px;
            text-align: right;
            color: $gray-60;
        }

    }

    .b-form textarea {
        min-height: 240px;
    }
}

