$od-blue: #164A7A;
$od-blue-05: rgba(22,74,122,.05);

// Modifier to add the main blue color

.m-od-blue {
    background-color: $od-blue;
}

.e-fn-ref {
    vertical-align: super;
    line-height: 0;

    span { line-height: 0; }

    a {
        font-size: 12px !important;
    }
}

// This should probably become a component.
// Note that it @extends the b-slide component, so maybe they should be somehow linked to each other.

.b-quote-slide {
    @extend .b-slide;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    margin: 0;
    min-height: 310px;

    // This <img> could be transformed into a ::before, for easier reuse.
    > img {
        max-width: 50px;
        margin: 30px auto;
        opacity: .2;
    }

    p {
        // text-align: center;
        font-size: 24px;
        color: $white;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .e-author {
        font-size: 16px;
        font-style: italic;
    }
}

.b-footnotes {
    position: fixed;
    left: 0;
    right: 0;
    padding: 20px;
    bottom: 0;
    z-index: 11;
    background-color: $od-blue;
    box-shadow: 0 0 10px $gray-40;
    display: none;

    &.m-active { display: block; }

    .e-close {
        color: $white-60;
        cursor: pointer;
    }
    .e-close:hover { color: $white; }

    h4 {
        text-transform: uppercase;
        font-weight: 600;
        color: $white-80;
        font-size: 16px;
    }

    ._idFootnote.m-active { display: block; }

    ._idFootnote {
        display: none;
        color: $white-70;
        a { text-decoration: none; }
        a:hover { text-decoration: underline; }
    }

    ._idFootnoteAnchor {
        display: inline-block;
        margin: -7px 10px;
        padding: 2px 4px;
        text-align: center;
        text-decoration: none;
        background-color: $white-30;
        color: $white;
        min-width: 24px;
        height: 24px;
        font-size: 14px;
        border-radius: 12px;
    }
}

// This should probably become a component.
.b-list-of-names {
    margin: 0;

    li {
        font-size: 14px;
        list-style-type: none;
        margin-bottom: 10px;
        color: $gray-60;
        font-style: italic;

        strong {
            display: block;
            font-size: 16px;
            color: $black;
            font-style: normal;
            line-height: 1;
            font-weight: 600;
        }
    }
}

.b-top-section {
    position: relative;
    padding: 0;
    height: 580px;


    h1 {
        &.m-space-1 {
            margin-top: 250px;
            margin-bottom: 40px;
        }
        &.m-space-2 {
            margin-top: 200px;
            margin-bottom: 0;
        }
        &.m-sm {
            font-size: 28px;
            font-weight: 600;
        }
        &.m-sm-2 {
            font-size: 48px;
            font-weight: 300;
        }
        & a:focus {
            color: $white;
        }
    }

    h2 {
        &.m-space-1 {
            margin-top: 100px;
            margin-bottom: 100px;
        }
        &.m-lg {
            max-width: 850px;
            font-size: 38px;
            font-weight: 300;
            margin: 0 auto;
        }
        &.m-sm {
            font-size: 25px;
            font-weight: 300;
        }
        & a:focus {
            color: $white;
        }
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
    }

    .b-shader {
        position: absolute;
        top: 0;
        padding: 50px 0;
        height: 100%;
        width: 100%;
        // background-color: $gray-50;
        background: linear-gradient($gray-10, $gray-90);
        z-index: 0;
    }

    .e-left-box {
        margin-top: 30px;
        text-align: left;

        div {
            display: inline-block;

            &.e-left {
                width: 80px;
                text-align: right;
                margin-right: 15px;
            }
            &.e-right {
                width: 200px;
                text-align: left;
                font-weight: 600;
            }
        }
    }

    .e-right-box {
        margin-top: 30px;
        text-align: right;

        p {
            margin: 0;

            &:first-child {
                font-weight: 800;
                text-transform: uppercase;
            }
        }
    }



    i.m-lg-faded {
        font-size: 50px;
        color: $white-40;
        &:hover {
            color: $white;
            @include transition;
        }
    }

    &.m-hires-1 {
        background: url('../img/home.jpg') no-repeat center center;
        background-size: cover;
    }

    &.m-hires-2 {
        background: url('../img/nairobi.jpg') no-repeat center top;
        background-size: cover;
    }

    &.m-light   { background-color: transparent;  color: $black;  }


}










.b-page-section {
    aside h3 {
        text-align: right;
        padding-right: 30px;
    }

    .e-expandable {

        * {
            font-size: 1.1rem;
            font-weight: 300;
        }

        > *:not(:first-child) {display: none;}
        > *:only-of-type + .e-read-more { display: none; }

        .m-show { display: block; }

        .e-read-more {
            display: inline;
            cursor: pointer;
            color: $od-blue;
            font-weight: 600;

            &:hover { text-decoration: underline; }
        }

        .e-h2 {
            font-weight: bold;
            color: $od-blue;
            &:not(:first-child) { margin-top: 30px; }
        }

        .e-caption {
            text-align: left;
            font-size: 16px;
            font-style: italic;
            margin-bottom: 15px;
        }

        b { font-weight: bold; }

        img {
            box-shadow: 0 0 8px $gray-10;
            margin: 30px 0;
        }

        .e-quote {
            background-color: $od-blue-05;
            padding: 20px 20px 20px 40px;
            position: relative;

            &:before {
                background-image: url("../img/quote.svg");
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: center;
                @include circle;
                height: 34px;
                width: 34px;
                background-color: $od-blue;
                content: '';
                position: absolute;
                left: -17px;
            }
        }

        .e-quote-author {
            margin-top: -15px;
            background-color: $od-blue-05;
            padding: 0 20px 20px 40px;
            position: relative;
            text-align: right;

            span {
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                color: $od-blue;
            }
        }



    }
}



















.case-study-page {
    .b-top-section {
        margin-bottom: 60px;
    }
}

// This is the custom CSS for the about page.
// Note that it is properly scoped inside the #about-page ID, so these styles won't leak anywhere else,
// and will also be applied with a high specificity, over the component base styles.

#about-page {
    .b-top-section {
        height: 300px;
        padding-top: 130px;
    }

    .b-page-section {
        padding-top: 50px;

        h3 {
            font-size: 18px;
            text-align: right;
            color: $gray-60;
        }

        h4 {
            font-size: 16px;
            color: $gray-60;
            font-weight: 600;
        }

    }

    .b-form textarea {
        min-height: 240px;
    }
}


.b-footer .e-content {

    h4 { 
        @include breakpoint($mobile-only) { text-align: center; } 
    }
    
    .e-partner-logo {
        text-align: center;
    }
    .e-partner-logo > img {
        
        @include breakpoint($mobile-only) {
            width: 80%;
            max-height: 300px;
        }

        width: 40%;
    }
}

.b-copyright {
    .e-partner-logo {
        text-align: center;
    }
    .e-partner-logo > img {
        width: 50%;
        max-height: 200px;
    }

    .e-cc-badge {
        // @include breakpoint($mobile-only) { margin-top: 30px; }
    }
}

.b-copyright {
    position: relative;
    .e-partner-logo {
        position: absolute;
        right: 0;
        top: 10px;
        > img {
            max-width: 400px;
            padding: 10px 0;
            // max-height: 60px;
            opacity: .5;
            @include transition;
            &:hover {
                opacity: 1;
                @include transition;
            }
        }
    }
}



// .b-top-nav .e-nav-group.m-right,
// .e-right-box,
// ul.b-sidebar,
// div h2::after { 
//     @include breakpoint($mobile-only) {
//         display: none !important; }    
//     }
    

// .b-top-section {
    

//     h1.m-space-2,
//     h1.m-space-1 {
//         @include breakpoint($mobile-only) {
//             margin-top: 80px;
//             font-size: 30px;
//         }
//     }

//     h2.m-sm {
//         @include breakpoint($mobile-only) {
//             font-size: 18px;
//             margin: 30px 20px 20px;
//             text-transform: capitalize;
//         }
//     }

//     .e-left-box { 
//         @include breakpoint($mobile-only) {
//             text-align: center; 
//         }
//     }

// }

// .b-page-section aside h3 {
//     @include breakpoint($mobile-only) {
//         text-align: left;
//         font-size: 30px;
//     }
// }

// .b-page-section .e-last { 
//     @include breakpoint($mobile-only) { margin: 0; }
// }

// .b-divider.m-next {
//     @include breakpoint($mobile-only) { padding: 20px; }
    
//     > div {
//         @include breakpoint($mobile-only) {
//             width: 100%;
//             position: static;
//             text-align: center;
//         }
//     }

//     h1, h2 { 
//         @include breakpoint($mobile-only) { text-align: right; }
//     }
// }

// .b-page-section.m-impact-section {
//     @include breakpoint($mobile-only) { text-align: center; }
// }

// .b-page-section#enabler-icons .columns .b-button,
// .b-page-section .columns.m-padded {
//     @include breakpoint($mobile-only) { padding: 30px; }
// }

// .grid .e-card {
//     @include breakpoint($mobile-only) {
//         width: 100% !important;
//         margin: 0 !important;
//         text-align: center;
//     }
// }

// .tabs-panel .b-button {
//     @include breakpoint($mobile-only) { padding: 10px; }
// }



