@import 'assets/breakpoint';

/* Importing Foundation Stuff */
@import 'foundation-components';
@include foundation-everything;

/* Our Custom Components */
@import 'components/variables';
@import 'components/resets';

/* importing aux */
@import 'components/aux';

/* importing base */
@import 'components/base';

// components
@import 'components/typography';
@import 'components/button';
@import 'components/form';
@import 'components/search';
@import 'components/off-canvas';
@import 'components/topnav';
@import 'components/footer';
@import 'components/divider';
@import 'components/slide';
@import 'components/slider';
@import 'components/sticky';
@import 'components/page-top-section';
@import 'components/page-section';
@import 'components/progress';
@import 'components/breadcrumbs';
@import 'components/modal';


// custom site rules
@import 'custom';
@import 'claudio-custom-components';
@import 'claudio-custom';

@import 'temp-hacks';

@import 'custom/scrollspy';

@import 'explore';
@import 'key-findings';

// import tiles/modals from smarter case studies
@import 'custom/projects-list.scss';

