/*
Error: Invalid CSS after "...stom/scrollspy'": expected "{", was ";"
        on line 46 of /Users/claudioccm/Trampos/code/repos/govlab/open-data-impact-case-studies/sass/styles.scss

41: <<<<<<< HEAD
42: =======
43: 
44: 
45: >>>>>>> 4fe03a8a3ef5749e7cab8961ca2b21d5d7c88e78
46: @import 'custom/scrollspy';
47: 
48: @import 'explore';
49: 
50: // import tiles/modals from smarter case studies
51: @import 'custom/projects-list.scss'

Backtrace:
/Users/claudioccm/Trampos/code/repos/govlab/open-data-impact-case-studies/sass/styles.scss:46
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:1181:in `expected'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:1110:in `tok!'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:654:in `block'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:649:in `ruleset'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin.rb:109:in `method_missing'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:383:in `watch_or_update'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/sass-3.4.21/bin/sass:13:in `<top (required)>'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/bin/sass:23:in `load'
/Users/claudioccm/.rbenv/versions/1.9.3-p545/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...stom/scrollspy'\": expected \"{\", was \";\"\A         on line 46 of /Users/claudioccm/Trampos/code/repos/govlab/open-data-impact-case-studies/sass/styles.scss\A \A 41: <<<<<<< HEAD\A 42: =======\A 43: \A 44: \A 45: >>>>>>> 4fe03a8a3ef5749e7cab8961ca2b21d5d7c88e78\A 46: @import 'custom/scrollspy';\A 47: \A 48: @import 'explore';\A 49: \A 50: // import tiles/modals from smarter case studies\A 51: @import 'custom/projects-list.scss'"; }
