{% extends "_base.html" %}
{% block content %}

<main class="case-study-page" role="main">

    <div class="b-top-section m-hires-2 m-center">
        <div class="b-shader">
            <h1 class="m-space-2 m-sm-2">{{case.title}}</h1>
            <h2 class="m-sm">{{case.description}}</h2>
            <h4>by {{case.authors}}</h4>

            <div class="row">
                <div class="column medium-6">
                    <div class="e-left-box">
                        <div class="e-left">
                            <p>Impact</p>
                            <p>Sector</p>
                            <p>Location</p>
                        </div>
                        <div class="e-right">
                            <p>
                                {% if case.impact_type is equalto 'citizens' %}
                                EMPOWERING CITIZENS
                                {% elif case.impact_type is equalto 'government' %}
                                IMPROVING GOVERNMENT
                                {% elif case.impact_type is equalto 'economic' %}
                                CREATING NEW ECONOMIC OPPORTUNITIES
                                {% elif case.impact_type is equalto 'public' %}
                                SOLVING PUBLIC PROBLEMS
                                {% else %}
                                {{case.impact_type | upper}}
                                {% endif %}
                            </p>
                            <p>
                                {% if case.sector is equalto 'public' %}
                                PUBLIC SECTOR
                                {% elif case.sector is equalto 'philantrophy' %}
                                PHILANTROPHY &AMP; AID
                                {% elif case.sector is equalto 'geospatial' %}
                                GEOSPATIAL SERVICES
                                {% elif case.sector is equalto 'politics' %}
                                POLITICS &AMP; ELECTIONS
                                {% elif case.sector is equalto 'health' %}
                                HEALTH
                                {% elif case.sector is equalto 'education' %}
                                EDUCATION
                                {% else %}
                                {{case.impact | upper}}
                                {% endif %}
                            </p>
                            <p>{{case.location | upper}}</p>
                        </div>
                    </div>
                </div>

                <div class="column medium-6">
                    <div class="e-right-box">
                        <p>Read Time</p>
                        <p>Brief View <strong>{{case.read_time}} MINS</strong></p>
                        <p>Full Story <strong>{{case.full_read_time}} MINS</strong></p>
                    </div>
                    <a href="#" class="b-button m-bottom-overlap m-orange m-detail-page">
                        <i class="material-icons m-space">file_download</i>
                        Download The Report
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <ul class="b-sidebar">
            <a href="#"><li class="facebook"><i class="fa fa-facebook"></i></li></a>
            <a href="#"><li class="linkedin"><i class="fa fa-linkedin"></i></li></a>
            <a href="#"><li class="google-plus"><i class="fa fa-google-plus"></i></li></a>
            <a href="#"><li class="twitter"><i class="fa fa-twitter"></i></li></a>
            <a href="#"><li class="email"><i class="fa fa-envelope"></i></li></a>
        </ul>
    </div>

    <section class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Summary</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block summary %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </section>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Takeaways</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block takeaways %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Numbers</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block numbers %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Quotes</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block quotes %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Background</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block background %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Data</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block data %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Path to Impact</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block path %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Outcome</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block outcome %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Impact</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block impact %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Discussion</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block discussion %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Action</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block action %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <div class="large-10 large-offset-1 columns">
                <p class="e-last">Learn about our <a href="about.html">methodology</a></p>
            </div>
        </div>
    </div>



    <div class="b-divider m-orange m-next js-next" js-impact="{{case.impact_type}}" js-sector="{{case.sector}}">
        <div>
            <h1>Read Next</h1>
            {% set next = false %}
            {% for casestudy in cases %}
            {% if next %}
            <a href="case-{{casestudy.title|slug}}.html" class="impact-{{casestudy.impact_type}} sector-{{casestudy.sector}}">
                <h2>{{casestudy.title}}</h2>
            </a>
            {% endif %}
            {% if casestudy.title is equalto case.title %}
            {% set next = true %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</main>

{% for reference in case.references %}
<div class="b-sticky m-closed" id="reference-{{reference.number}}">
    <div class="e-wrap">
        <i class="material-icons e-close js-close-sticky" data-close="#reference-{{reference.number}}">close</i>
        <h3 class="e-title">{{reference.number}}. {{reference.title}}</h3>
        <p>{{reference.text}}</p>
    </div>
</div>
{% endfor %}

<script src="static/js/case-study-scripts.js"></script>

{% endblock %}