{% extends "_base.html" %}
{% block content %}

<main class="case-study-page" role="main">

    <div class="b-top-section m-hires-2 m-center" style="background-image: url(./static/img/banners/{{case.image}})">
        <div class="b-shader">
            <h1 class="m-space-2 m-sm-2">{{case.title}}</h1>
            <h2 class="m-sm">{{case.description}}</h2>
            <h4>by {{case.authors}}</h4>

            <div class="row">
                <div class="column medium-6">
                    <div class="e-left-box">
                        <div class="e-left">
                            <p>Impact</p>
                            <p>Sector</p>
                            <p>Location</p>
                        </div>
                        <div class="e-right">
                            <p>
                                {% if case.impact_type is equalto 'citizens' %}
                                EMPOWERING CITIZENS
                                {% elif case.impact_type is equalto 'government' %}
                                IMPROVING GOVERNMENT
                                {% elif case.impact_type is equalto 'economic' %}
                                CREATING NEW ECONOMIC OPPORTUNITIES
                                {% elif case.impact_type is equalto 'public' %}
                                SOLVING PUBLIC PROBLEMS
                                {% else %}
                                {{case.impact_type | upper}}
                                {% endif %}
                            </p>
                            <p>
                                {% if case.sector is equalto 'public' %}
                                PUBLIC SECTOR
                                {% elif case.sector is equalto 'philantrophy' %}
                                PHILANTROPHY &AMP; AID
                                {% elif case.sector is equalto 'geospatial' %}
                                GEOSPATIAL SERVICES
                                {% elif case.sector is equalto 'politics' %}
                                POLITICS &AMP; ELECTIONS
                                {% elif case.sector is equalto 'health' %}
                                HEALTH
                                {% elif case.sector is equalto 'education' %}
                                EDUCATION
                                {% elif case.sector is equalto 'emergency' %}
                                EMERGENCY SERVICES / CRISIS RESPONSE
                                {% elif case.sector is equalto 'law' %}
                                LAW
                                {% elif case.sector is equalto 'business' %}
                                BUSINESS
                                {% elif case.sector is equalto 'transportation' %}
                                TRANSPORTATION
                                {% elif case.sector is equalto 'weather' %}
                                WEATHER
                                {% else %}
                                {{case.impact | upper}}
                                {% endif %}
                            </p>
                            <p>{{case.location | upper}}</p>
                        </div>
                    </div>
                </div>

                <div class="column medium-6">
                    <div class="e-right-box">
                        <p>Read Time</p>
                        <p>Brief View <strong>{{case.read_time}} MINS</strong></p>
                        <p>Full Story <strong>{{case.full_read_time}} MINS</strong></p>
                    </div>
                                {% if case.impact_type is equalto 'citizens' %}
                    <a href="./static/files/{{case.download}}" target="_blank" class="b-button m-bottom-overlap m-orange m-detail-page">
                                {% elif case.impact_type is equalto 'government' %}
                    <a href="./static/files/{{case.download}}" target="_blank" class="b-button m-bottom-overlap m-blue m-detail-page">
                                {% elif case.impact_type is equalto 'economic' %}
                    <a href="./static/files/{{case.download}}" target="_blank" class="b-button m-bottom-overlap m-yellow m-detail-page">
                                {% elif case.impact_type is equalto 'public' %}
                    <a href="./static/files/{{case.download}}" target="_blank" class="b-button m-bottom-overlap m-fuschia m-detail-page">
                                {% else %}
                    <a href="./static/files/{{case.download}}" target="_blank" class="b-button m-bottom-overlap m-detail-page">
                                {% endif %}
                        <i class="material-icons m-space">file_download</i>
                        Download The Report
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <ul class="b-sidebar">
            <a href="#" id="facebook"><li class="facebook"><i class="fa fa-facebook"></i></li></a><a href="#" id="linkedin"><li class="linkedin"><i class="fa fa-linkedin"></i></li></a><a href="#" id="google-plus"><li class="google-plus"><i class="fa fa-google-plus"></i></li></a><a href="#" id="twitter"><li class="twitter"><i class="fa fa-twitter"></i></li></a><a href="#" id="email"><li class="email"><i class="fa fa-envelope"></i></li></a>
        </ul>
    </div>

    <section class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Summary</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block summary %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </section>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Takeaways</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block takeaways %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Background</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block background %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Project</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block project %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Impact</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block impact %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Challenges</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block challenges %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="medium-3 columns">
                <h3>Looking Forward</h3>
            </aside>
            <div class="large-8 columns end">
                <div class="e-expandable">
                    {% block forward %}{% endblock %}
                    <span class="e-read-more js-more-toggle">Read More</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <div class="large-10 large-offset-1 columns">
                <p class="e-last">Learn about our <a href="about.html">methodology</a></p>
            </div>
        </div>
    </div>

                                {% if case.impact_type is equalto 'citizens' %}
    <div class="b-divider m-orange m-next js-next" js-impact="{{case.impact_type}}" js-sector="{{case.sector}}">
                                {% elif case.impact_type is equalto 'government' %}
    <div class="b-divider m-blue m-next js-next" js-impact="{{case.impact_type}}" js-sector="{{case.sector}}">
                                {% elif case.impact_type is equalto 'economic' %}
    <div class="b-divider m-yellow m-next js-next" js-impact="{{case.impact_type}}" js-sector="{{case.sector}}">
                                {% elif case.impact_type is equalto 'public' %}
    <div class="b-divider m-fuschia m-next js-next" js-impact="{{case.impact_type}}" js-sector="{{case.sector}}">
                                {% else %}
    <div class="b-divider m-next js-next" js-impact="{{case.impact_type}}" js-sector="{{case.sector}}">
                                {% endif %}
        <div>
            <h1>Read Next</h1>
            {% set next = false %}
            {% for casestudy in cases %}
            {% if next %}
            <a href="case-{{casestudy.title|slug}}.html" class="impact-{{casestudy.impact_type}} sector-{{casestudy.sector}}">
                <h2>{{casestudy.title}}</h2>
            </a>
            {% endif %}
            {% if casestudy.title is equalto case.title %}
            {% set next = true %}
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="b-footnotes">
        <div class="row">
            <div class="medium-8 large-offset-3 column">
                <h4>Reference</h4>
                {% block footnotes %}{% endblock %}            
            </div>
            <div class="medium-1 column">
                <div class="e-close"><i class="material-icons">close</i></div>
            </div>
        </div>
    </div>
</main>

<script src="static/js/case-study-scripts.js"></script>

{% endblock %}



