{% extends "_base.html" %}
{% block content %}

<main role="main">

    <div class="b-slider">
        <section id="slide-1" class="b-slide m-teal">
            <header>
                <h4>About</h4>
            </header>
            <div class="row m-lr-padding">
                <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
                <div class="e-action">
                    <a class="b-button m-naked" href="#">Find out more<i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
        </section>
        <section id="slide-2" class="b-slide m-blue">
            <header>
                <h4>Featured Review</h4>
            </header>
            <div class="row m-lr-padding">
                <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
                <div class="e-action">
                    <a class="b-button m-naked" href="#">Find out more<i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
        </section>
        <section id="slide-3" class="b-slide m-teal">
            <header>
                <h4>Featured Review</h4>
            </header>
            <div class="row m-lr-padding">
                <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
                <div class="e-action">
                    <a class="b-button m-naked" href="#">Find out more<i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
        </section>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="large-2 columns">
                Objectives
            </aside>
            <p class="large-10 columns">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="large-2 columns">
                Methodology
            </aside>
            <p class="large-10 columns">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="large-2 columns">
                Authors &amp; Organizations
            </aside>
            <p class="large-10 columns">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="large-2 columns">
                Contributors
            </aside>
            <p class="large-10 columns">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <aside class="large-2 columns">
                Contact Us
            </aside>
            <p class="large-10 columns">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <script type="text/javascript">
    $('.js-more-toggle').click(function() {
        $(this).parent().toggleClass('m-active');
    })
</script>

{% endblock %}