{% extends "_base.html" %}
{% block page_id %}about-page{% endblock %}

{% block content %}
<main role="main">
    <header class="b-top-section">
        <div class="b-wrap">
            <h2>About Open Data’s Impact Repository</h2>
            <h3>What do we mean by Open Data? Why does it matter? How did we study it? And who contributed?</h3>
        </div>
    </header>

    <!-- This slider has different height. We need to figure out a way to make them all the same height. -->
    <div class="b-slider slick">
        <blockquote class="b-quote-slide m-od-blue">
            <img src="static/img/quote.svg" alt="">
            <div class="row">
                <div class="large-12 column">
                    <p>This kind of analysis adds value... It shows problems about corruption, its consequences and how to fight it.</p>
                    <p class="e-author"><strong>Antonio Almansa Morales</strong>, Diputación Provincial de Málaga</p>
                </div>
            </div>
        </blockquote>
        <blockquote class="b-quote-slide m-od-blue">
            <img src="static/img/quote.svg" alt="">
            <div class="row">
                <div class="large-12 column">
                    <p>I must admit that the case study is fascinating. I have found interesting insights that we might push for now that we are discussing a new procurement law for infrastructure projects.</p>
                    <p class="e-author"><strong>Rafael García Aceves</strong>, Transparencia Mexicana</p>
                </div>
            </div>
        </blockquote>
        <blockquote class="b-quote-slide m-od-blue">
            <img src="static/img/quote.svg" alt="">
            <div class="row">
                <div class="large-12 column">
                    <p>A really interesting and informative case study.</p>
                    <p class="e-author"><strong>Andi Argast</strong>, Open Data Institute; Toronto Node</p>
                </div>
            </div>
        </blockquote>
    </div>
    <section id="what-is-open-data" class="b-page-section">
        <div class="row">
            <div class="column medium-3">
                <h3>What is Open Data?</h3>
            </div>
            <div class="column medium-8 end">
                <p><em>Open data is publicly available data that can be universally and readily accessed, used, and redistributed free of charge. It is structured for usability and computability. (extracted from a <a href="http://thegovlab.org/open-data-whats-in-a-name/" target="_blank">comparison of open data definitions</a>)
                </em></p>
                <p>It is important to recognize that this is a somewhat idealized version of open data. In truth, few forms of data possess all the attributes included in this definition. The openness of data exists on a continuum, and while many forms of information may not be strictly open in the sense described above, they may nonetheless be shareable, usable by third parties, and capable of effecting wide-scale transformation. The Open Data’s Impact repository explores case studies that leverage data across this continuum.</p>
            </div>
        </div>
    </section>
    <section id="objectives" class="b-page-section">
        <div class="row">
            <div class="column medium-3">
                <h3>Why Does it Matter?</h3>
            </div>
            <div class="column medium-8 end">
                <h4>Objectives</h4>
                <p>Despite global commitments to and increasing enthusiasm for open data, little is actually known about its use and impact. What kinds of social and economic transformation has open data brought about and what is its future potential? How—and under what circumstances—has it been most effective? How have open data practitioners mitigated risks and maximized social good?Even as proponents extol the virtues of open data, the field suffers from a lack of detailed evidence of the impact of open data, and what contributed to the impact.</p>
                <p>The Open Data’s Impact repository seeks to:</p>
                <ul>
                    <li>Provide a more nuanced understanding of the various processes and factors underlying the demand, supply, release, use and ultimately impact of open data. </li>
                    <li>Assess and provide evidence for the premise that open data has the potential to impact society in a variety of beneficial ways;</li>
                    <li>Provide actionable insights to policymakers, civil society representatives, entrepreneurs, researchers and others seeking to release or use open data.</li>
                </ul>
            </div>
        </div>
    </section>


    <div class="b-slider slick">
        <blockquote class="b-quote-slide m-od-blue">
            <img src="static/img/quote.svg" alt="">
            <div class="row">
                <div class="column large-12">
                    <p>It's very clear. Makes sense - I really liked the "taxonomy of open data impact" visualization/framework piece.</p>
                    <p class="e-author"><strong>Jamie Van Ymeren</strong>, Mowat Centre</p>
                </div>
            </div>
        </blockquote>
        <blockquote class="b-quote-slide m-od-blue">
            <img src="static/img/quote.svg" alt="">
            <div class="row">
                <div class="column large-12">
                    <p>The study has made great effort to document impact.</p>
                    <p class="e-author"><strong>Emmy Chirchir</strong>, University of Münster</p>
                </div>
            </div>
        </blockquote>
    </div>

    <section id="methodology" class="b-page-section">
        <div class="row">
            <div class="column medium-3"><h3>How Did We Study It?</h3></div>
            <div class="column medium-8 end">
                <h4>Methodology</h4>
                <p>Part of the reason we know so little about open data is because there have been so few systematic studies of its actual impact and workings. The field is dominated by conjectural estimates of open data’s hypothetical impact; those attempts that have been made to study concrete, real-world examples are often anecdotal or suffer from a paucity of information.</p>

                <p>Through this repository the GovLab aims to build a more systematic study of open data and its impact by rigorously examining several case studies from around the world. These case studies are chosen for their geographic and sectoral representativeness. They are built not simply from secondary sources (like news reports and academic papers) but from extensive interviews with key actors and protagonists (see below) who possess valuable and thus far untapped on-the-ground knowledge. In addition, the case studies seek to go beyond the descriptive (what happened) to the explanatory (why it happened, and what is the wider relevance or impact).</p>

                <p>In order to provide these explanations, we have assembled an analytical framework that applies across case studies and allows us to present some more widely applicable principles for the use and impact of open data. Impact—a better understanding of how and when open data really works—is at the center of our research. Our framework seeks to establish a taxonomy of impact for open data initiatives, outlining various dimensions (from improving government to creating economic opportunities) in which open data has been effective. In addition, the framework lays out some key conditions that enable impact, as well as some challenges faced by open data projects. </p>
                <h4>Open Peer Review</h4>
                <p>In the spirit of openness that defines the field under examination, the GovLab open-sourced the peer review process of our open data case studies and key findings paper. Rather than sharing drafts only with a select group of experts we made our report and each of the case studies openly accessible for review in the interest of gaining broad input on our findings and collaboratively producing a common resource on open data’s impacts for the field.</p>
                <p>During the monthlong open peer review process, more than two dozen people from around the world shared their input as Recognized Peer Reviewers through in-line comments and in-depth responses to the ideas and evidence presented in the Key Findings Paper and case studies. Additionally, the paper and case studies were made openly accessible to the public, allowing anyone to share suggestions, clarifications, notes on potential inaccuracies and any other useful input prior to publishing. Much of this input was integrated into the final versions found here.</p>
            </div>
        </div>
    </section>

    <section id="principal-researchers" class="b-page-section">
        <div class="row">
            <div class="column medium-3">
                <h3>Who Were the Principal Researchers?</h3></div>
                <div class="column medium-8 end">
                    <p>The case studies were conducted by a team at the <a href="http://thegovlab.org" target="_blank">GovLab</a> under the leadership of <a href="http://www.thegovlab.org/team.html" target="_blank">Andrew Young and Stefaan Verhulst</a>, and in close collaboration with Laura Bacon of <a href="https://www.omidyar.com/" target="_blank">Omidyar Network</a>. In addition, <a href="http://barefootintocyberspace.com/about/" target="_blank">Becky Hogge</a> contributed six case studies focused on the United Kingdom (Full report of Becky Hogge available <a href="https://www.omidyar.com/sites/default/files/file_archive/insights/Open%20Data_Six%20Stories%20About%20Impact%20in%20the%20UK/OpenData_CaseStudies_Report_complete_DIGITAL_102715.pdf" target="_blank">here</a>).</p>
                    <p>As an action research center, the GovLab designs, tests and studies technology, policy and strategies for fostering more open and collaborative approaches to governance working with public partners. <a href="http://www.thegovlab.org/projects.html" target="_blank">We work on open data</a> both to the end of advancing research but, first and foremost, to accelerate innovation in the field.</p>
                </div>
            </div>
        </section>


        <div class="b-slider slick">
            <blockquote class="b-quote-slide m-od-blue">
                <img src="static/img/quote.svg" alt="">
                <div class="row">
                    <div class="column large-12">
                        <p>Being unaware of the history of GPS, I thought this paper was a delightful insight to its origins, as well as the tie-ins today that I fight for in my professional life. I thoroughly enjoyed reading it.</p>
                        <p class="e-author"><strong>Julian Singh</strong>, Open Data Connect</p>
                    </div>
                </div>
            </blockquote>
            <blockquote class="b-quote-slide m-od-blue">
                <img src="static/img/quote.svg" alt="">
                <div class="row">
                    <div class="column large-12">
                        <p>[The case study of Kawal Pemilu] shows how just a few people with no budget…can change the direction of the country.</p>
                        <p class="e-author"><strong>Antonio Almansa Morales</strong>, Diputación Provincial de Málaga</p>
                    </div>
                </div>
            </blockquote>
        </div>
        <a name="contributors"></a>
        <section id="contributors" class="b-page-section">
            <div class="row">
                <div class="column medium-3"><h3>Who Contributed?</h3></div>
                <div class="column medium-8 end">
                    <p>During the development of its case studies on open data’s impact, the GovLab interviewed the following stakeholders and experts:</p>
                    <div class="row">
                        <div class="column medium-6">
                            <ul class="b-list-of-names">
                                <li><strong>Neil Ackroyd</strong>Chief Operating Officer, Ordnance Survey</li>
                                <li><strong>Kim Alexander</strong>President and Founder, California Voter Foundation </li>
                                <li><strong>Robert Andrews</strong>Head of Corporate Communications, Ordnance Survey</li>
                                <li><strong>Jay Bhalla</strong>Director, Open Institute</li>
                                <li><strong>Uuf Brajawidagba</strong>Lecturer of Indonesian Politics, University of Wollongong</li>
                                <li><strong>François Brouard</strong>Founding Director, Sprott Centre for Social Enterprises, Carleton University</li>
                                <li><strong>Iain Campion</strong>former Application Team Leader, Environment Canterbury </li>
                                <li><strong>John Carpenter</strong>Director of Strategy, Ordnance Survey </li>
                                <li><strong>Daniel Carranza</strong>Co-Founder, DATA Uruguay</li>
                                <li><strong>Julian Carver</strong>former Chief Information Officer, Canterbury Earthquake Recovery Authority</li>
                                <li><strong>Pablo Clark</strong>Analyst, Mexican Institute for Competitiveness</li>
                                <li><strong>Izabela Corrèa</strong>Former Coordinator for the Promotion of Ethics, Transparency, and Integrity, Brazil’s Directorate for Corruption Prevention</li>
                                <li><strong>Jeff de La Beaujardiere</strong>Data Management Architect, NOAA</li>
                                <li><strong>Leodelma de Marilac Felix</strong>Former Head of the General Auditing Coordination, Ministry of Finance, Brazil</li>
                                <li><strong>Vivien Deparday</strong>Disaster Risk Management Specialist, Open Data for Resilience Initiative Operational Deployment Lead, Global Facility for Disaster Risk and Reduction, World Bank</li>
                                <li><strong>Patrick DuFour</strong>Former Senior Web GIS Developer, U.S. Department of State, Humanitarian Information Unit</li>
                                <li><strong>Ee-Peng Lim</strong>Co-Director of Living Analytics Research Center, Singapore Management University</li>
                                <li><strong>Carl Elmstam</strong>Transparency Manager, Sida </li>
                                <li><strong>Peter Elson</strong>Community Development Researcher, Mount Royal University and University of Victoria</li>
                                <li><strong>Felipe Estefan</strong>Associate, Investments, Omidyar Network</li>
                                <li><strong>Aidan Eyakuze</strong>Executive Director, Twaweza</li>
                                <li><strong>Stephen Ferris</strong>GIS and Data Manager, Canterbury Earthquake Recovery Authority </li>
                                <li><strong>Christian Fischer</strong>Senior Advisor, Septima</li>
                                <li><strong>Mike Flowers</strong>former Chief Analytics Officer, Mayor’s Office of Data Analytics, New York City</li>
                                <li><strong>Rafael García Aceves</strong>Open Data Project Coordinator, Transparencia Mexicana </li>
                                <li><strong>Zachary Goldstein</strong>Chief Information Officer, NOAA</li>
                                <li><strong>Hanna Hellquist</strong>Former State Secretary for International Development, Sweden </li>
                                <li><strong>Thorhildur Jetzek</strong>Department of IT Management, Copenhagen Business School</li>
                                <li><strong>Al Kags</strong>Founding Trustee, Open Institute</li>
                                <li><strong>Jason Kim</strong>Senior Advisor, National Coordination Office for Space-Based Positioning, Navigation, and Timing</li>
                                <li><strong>Verena Luise Knippel</strong>Senior Governance Specialist, World Bank </li>
                                <li><strong>Daniel Kreiss</strong>Assistant Professor, University of North Carolina School of Journalism and Media</li>
                            </ul>
                        </div>
                        <div class="column medium-6">
                            <ul class="b-list-of-names">
                                <li><strong>David Lasby</strong>Director of Research, Imagine Canada</li>
                                <li><strong>Michael Lenczner</strong>Chief Executive Officer, Ajah.ca</li>
                                <li><strong>Morten Lind</strong>Senior Advisor, Danish Geodata Agency</li>
                                <li><strong>Andrew Loveless</strong>Commercial Director, Ordnance Survey</li>
                                <li><strong>Lindsey Marchessault</strong>Senior Manager for Data & Engagement, Open Contracting Partnership</li>
                                <li><strong>Arnold Minde</strong>Founder, Shule.info</li>
                                <li><strong>Lindsay Mollineaux</strong>Director of Analytics, Mayor’s Office of Data Analytics, New York City</li>
                                <li><strong>Oscar Montiel</strong>Director of Community Engagement, Code for Mexico</li>
                                <li><strong>Otávio Moreira de Castro Neves</strong>Coordinator for Open Government and Transparency, Brazil</li>
                                <li><strong>Ainun Najib</strong>Co-Founder, Kawal Pemilu </li>
                                <li><strong>Bitange Ndemo</strong>Chairman, Open Institute</li>
                                <li><strong>Bo Overgaard</strong>Director, Septima </li>
                                <li><strong>Tim Owen</strong>Chief of Climate Information Services Division, NOAA </li>
                                <li><strong>Allan Parnell</strong>PhD, Vice President, Cedar Grove Institute for Sustainable Communities</li>
                                <li><strong>Ed Parsons</strong>Geospatial Technologist, Google </li>
                                <li><strong>Maria Patterson</strong> PhD, Scientific Lead, Open Science Data Cloud, University of Chicago, Open Cloud Consortium</li>
                                <li><strong>Hilary Pearson</strong>President, Philanthropic Foundations Canada</li>
                                <li><strong>Karl Peterson</strong>Project Manager, Aid Transparency, Sida</li>
                                <li><strong>Florent Peyre</strong>Chief Operating Officer and Co-Founder, Placemeter</li>
                                <li><strong>Peter Rabley</strong>Director, Investments, Omidyar Network </li>
                                <li><strong>Tara Ramchandani</strong>Attorney, Relman, Dane, & Colfax PLLC</li>
                                <li><strong>Ira Rubinstein</strong>Research Fellow and Adjunct Professor of Law, New York University </li>
                                <li><strong>Fabrizio Scrollini</strong>Chairman, DATA Uruguay </li>
                                <li><strong>Diah Setiawaty</strong>Program Manager for Election Application Programming Interface, Perludem</li>
                                <li><strong>Rupert Simons</strong>Former Advisor to the African Governance Initiative; CEO, Publish What You Fund</li>
                                <li><strong>Singapore National Environment Agency</strong></li>
                                <li><strong>Gabriel Sipos</strong>Director, Transparency International Slovensko </li>
                                <li><strong>Diego Soria</strong>Ministry of Health, Uruguay</li>
                                <li><strong>Allison Soussi-Tanani</strong>Digital Strategy Lead and Web Committee Co-Chair, NOAA </li>
                                <li><strong>Javier Teran</strong>Statistician, United Nations Office for the Coordination of Humanitarian Affairs, Humanitarian Data Exchange</li>
                                <li><strong>Samhir Vasdev</strong>ICT Sector Unit, World Bank</li>
                                <li><strong>Eva Vozárová</strong>Web &amp; IT Lead, Fair-Play Alliance</li>
                                <li><strong>Neil Weston</strong>Chief Scientist, National Geodetic Survey, NOS, NOAA</li>
                                <li><strong>Alyssa Wright</strong>President of U.S. Board, OpenStreetMap</li>
                                <li><strong>Alexandra Zapata Hojel</strong>Coordinator of Education Projects, Mexican Institute for Competitiveness</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section id="acknowledgement" class="b-page-section">
                <div class="row">
                    <div class="column medium-3"><h3>Who Reviewed?</h3></div>
                    <div class="column medium-8 end">
                        <p>Special thanks to the following individuals who provided invaluable input during the open peer review process:</p>
                        <div class="row">
                            <div class="column medium-6">
                                <ul class="b-list-of-names">
                                    <li><strong>Karin Ahlin</strong>Akrodata</li>
                                    <li><strong>Antonio Almansa Morales</strong>Diputación provincial de Málaga</li>
                                    <li><strong>Andi Argast</strong>Open Data Institute; Toronto Node </li>
                                    <li><strong>Jos Berens</strong>University of Leiden</li>
                                    <li><strong>Keitha Booth</strong>Land Information New Zealand </li>
                                    <li><strong>J. Albert Bowden II</strong>Sunlight Foundation</li>
                                    <li><strong>Mark Cardwell</strong>USAID </li>
                                    <li><strong>Corinne Cath</strong>Oxford Internet Institute</li>
                                    <li><strong>Emmy Chirchir</strong>University of Münster </li>
                                    <li><strong>Rafael García Aceves</strong>Transparencia Mexicana</li>
                                    <li><strong>Erik Holmlund</strong>Alberta Data Partnerships Ltd</li>
                                    <li><strong>Brendan Kenny</strong>Blackwell Burke P.A. </li>
                                    <li><strong>Alessia Lefebure</strong>Columbia University - Alliance Program </li>
                                    <li><strong>Ulrich Mans</strong>Leiden University </li>
                                    <li><strong>Valerie Moye</strong>Socrata </li>
                                </ul>
                            </div>
                            <div class="column medium-6">
                                <ul class="b-list-of-names">
                                    <li><strong>Dr. Alina Östling</strong>Centre for Media Pluralism and Media Freedom</li>
                                    <li><strong>Giuseppe Reale</strong>University of Catania </li>
                                    <li><strong>Fathima Rifaa</strong>The Boeing Company, USA </li>
                                    <li><strong>Julian Singh</strong>Open Data Connect </li>
                                    <li><strong>Rayna Stamboliyska</strong>RS Strategy/Open MENA </li>
                                    <li><strong>Julian Tait</strong>Open Data Manchester </li>
                                    <li><strong>Jamie Van Ymeren</strong>Mowat Centre </li>
                                    <li><strong>Mario Velasco</strong>Coplade, Oaxaca</li>
                                    <li><strong>Niki Virani</strong>City of Houston</li>
                                    <li><strong>Johanna Walker</strong>Web Science Institute, University of Southampton </li>
                                    <li><strong>Andrew Weller</strong>University of Washington</li>
                                    <li><strong>Ian White</strong>TBD Co </li>
                                    <li><strong>Raymond Yee</strong>unglue.it </li>
                                    <li><strong>Maria Zuffova</strong>University of Strathclyde, Glasgow</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="b-page-section">
                <div class="row">
                    <div class="column medium-3">
                        <h3>Contact Us</h3>
                    </div>
                    <div class="column medium-8 end">
                        We’d love to hear from you. Please fill out the below form to provide feedback on Open Data’s Impacts, or to share other examples of open data having an impact on the world.
                        <form class="b-form" action="http://formspree.io/info@thegovlab.org" method="POST">
                            <input id="name" type="text" placeholder="Name*" name="name" required>
                            <input id="org" type="text" placeholder="Organization" name="organization">
                            <input id="email" type="email" placeholder="Email" name="email">
                            <textarea id="msg" placeholder="Message*" name="message" required></textarea>
                            <input type="hidden" name="_next" value="thanks.html" />
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </section>
        </main>

        {% endblock %}

        {% block customscripts %}
        <script type="text/javascript">
        $('.js-more-toggle').click(function() {
            $(this).parent().toggleClass('m-active');
        })
    </script>
    {% endblock %}





