{% extends "_base.html" %}
{% block page_id %}accordion{% endblock %}



{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="static/js/accordion.js"></script>

<div class="wrapper">
   <dl class="accordion">
     <div class="accordion-item">
       <dt class="dt-1"><p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.<i class="material-icons">keyboard_arrow_left</i></p></dt>
       <dd class="dd-1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
     </div>
     <div class="accordion-item">
       <dt class="dt-2"><p>Title #2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.<i class="material-icons">keyboard_arrow_left</i></p></dt>
       <dd class="dd-2"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
     </div>
     <div class="accordion-item">
       <dt class="dt-3"><p>Title #3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.<i class="material-icons">keyboard_arrow_left</i></p></dt>
       <dd class="dd-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
     </div>
   </dl>
 </div>

{% endblock %}
