{% extends "_base.html" %}
{% block page_id %}accordion{% endblock %}

{% block content %}
<header class="b-top-section m-purple">
    <div class="row">
        <div class="column small-12">
            <h2>Accordion Component</h2>
            <h3>This is the top section of a page. Generally speaking, each page should start with this section.</h3>
        </div>
    </div>
</header>

<section class="b-page-section">
  <div class="row">
    <div class="large-10 large-centered">
      

      <!-- HTLM structure for the accordion -->
      <dl class="b-accordion m-dark-blue">
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
      </dl>

      <h3>More Examples</h3>
      
      <!-- More examples -->

      <dl class="b-accordion m-dark-blue">
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
        <div class="e-accordion-item js-open-accordion">
          <dt>
            <p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p>
          </dd>
        </div>
      
      </dl>

      <dl class="b-accordion m-purple">
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
     </dl>

     <dl class="b-accordion m-teal">
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
     </dl>

     <dl class="b-accordion m-orange">
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
     </dl>

     <dl class="b-accordion m-blue">
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
       <div class="e-accordion-item js-open-accordion">
         <dt><p>Title #3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></dt>
         <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus rem, ducimus quae distinctio nihil vero eaque asperiores vel blanditiis, nobis explicabo saepe cumque possimus aut deleniti a. Porro, quia, nam.</p></dd>
       </div>
     </dl>

     
      
    </div>
  </div>
</section>   

{% endblock %}
