{% extends "_case-studies-alt.html" %}

{% set case = cases[11] %}

{% block summary %}

{% endblock %}

{% block takeaways %}

{% endblock %}


{# <a href="#" data-open="#reference-n"> <sup>n</sup></a> #}

{% block numbers %}

{% endblock %}

{% block quotes %}

{% endblock %}

{% block background %}

{% endblock %}

{% block data %}

{% endblock %}

{% block path %}
{% endblock %}

{% block outcome %}
{% endblock %}


{% block impact %}
{% endblock %}

{% block discussion %}
{% endblock %}

{% block action %}
  
{% endblock %}
