{% extends "_case-studies.html" %}

{% set case = cases[18] %}


{% block summary %}
{% endblock %}


{% block takeaways %}
{% endblock %}


{% block numbers %}
{% endblock %}


{% block quotes %}
{% endblock %}


{% block background %}
{% endblock %}


{% block data %}
{% endblock %}


{% block users %}
{% endblock %}


{% block outcome %}
{% endblock %}


{% block impact %}
{% endblock %}


{% block discussion %}
{% endblock %}


{% block action %}
{% endblock %}


{% block footnotes %}
{% endblock %}