{% extends "_base.html" %}
{% block page_id %}odi-landing{% endblock %}

{% block content %}
<main role="main">

    <div class="b-page-section">
        <div class="b-top-section m-light m-center">
            <h2 class="m-space-1">Today, Open Data is changing the world in 4 unique ways...</h2>
            <a href="#" class="b-button m-blue m-space-2">Explore Case Studies</a>
            <p class="m-space-3">&mdash; or &mdash;</p>
            <i class="material-icons m-space-3">arrow_drop_down_circle</i>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row">
            <div class="large-6 columns">
                <h2>Empowering Citizens</h2>
                <p>6 case studies</p>
                <i class="material-icons">person_pin</i>
            </div>
            <div class="large-6 columns">
                Open Data is empowering citizens to take control of their lives and demand change. It does so by facilitating <strong>more informed decision making</strong> and enabling <strong>new forms of social mobilization</strong>, which often take place via social media or other new platforms.
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <h2>Improving Government</h2>
                <p>6 case studies</p>
                <i class="material-icons">account_balance</i>
            </div>
            <div class="large-6 columns">
                Open Data is empowering citizens to take control of their lives and demand change. It does so by facilitating <strong>more informed decision making</strong> and enabling <strong>new forms of social mobilization</strong>, which often take place via social media or other new platforms.
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <h2>Creating New Opportunities</h2>
                <p>6 case studies</p>
                <i class="material-icons">trending_up</i>
            </div>
            <div class="large-6 columns">
                Open Data is empowering citizens to take control of their lives and demand change. It does so by facilitating <strong>more informed decision making</strong> and enabling <strong>new forms of social mobilization</strong>, which often take place via social media or other new platforms.
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <h2>Solving Public Problems</h2>
                <p>6 case studies</p>
                <i class="material-icons">public</i>
            </div>
            <div class="large-6 columns">
                Open Data is empowering citizens to take control of their lives and demand change. It does so by facilitating <strong>more informed decision making</strong> and enabling <strong>new forms of social mobilization</strong>, which often take place via social media or other new platforms.
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <h2>The level of impact depends on 4 enabling conditions</h2>
        <div class="row">
            <div class="large-3 columns">
                <h3>Strong Problem Definition</h3>
                <i class="material-icons">speaker_notes</i>
            </div>
            <div class="large-3 columns">
                <h3>Right Infrastructure</h3>
                <i class="material-icons">directions_transit</i>
            </div>
            <div class="large-3 columns">
                <h3>Working Partnerships</h3>
                <i class="material-icons">people_outline</i>
            </div>
            <div class="large-3 columns">
                <h3>Clear Policies &amp; Metrics</h3>
                <i class="material-icons">assessment</i>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <h2>Yet, there are challenges that must be overcome for Open Data projects to reach their highest potential</h2>
        <div class="row">
            <div class="large-6 columns">
                <h3>Readiness</h3>
                <p>Low technical and human capacity often pose inhospitable environments for open data projects</p>
            </div>
            <div class="large-6 columns">
                <h3>Responsiveness</h3>
                <p>Success is limited when projects are unresponsive to feedback and user needs</p>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <h3>Risks</h3>
                <p>Major challenges arise from the tradeoffs between the potential of open data and the risks posed by privacy and security violations</p>
            </div>
            <div class="large-6 columns">
                <h3>Resources</h3>
                <p>Inadequate resource allocation is one of the most common reasons for limited success or outright failure</p>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <p><strong>Follow our 10 Recommendations for Open Data Impact</strong> in order to overcome the challenges and ensure highest impact from your open data projects</p>
        <a href="#" class="b-button"><i class="material-icons">file_download</i><br>Download the Report</a>
        <p>&mdash; or &mdash;</p>
        <a name="explore" id="a-explore" />
        <p><strong>Explore the Impact of Open Data</strong> around the world</p>
    </div>

    <div class="b-page-section">
        <div class="row">
            <div class="large-3 columns">
                <a href="#" class="b-button">Sector</a>
            </div>
            <div class="large-3 columns">
                <a href="#" class="b-button">Impact</a>
            </div>
            <div class="large-6 columns">
                <a href="#">Download all case studies</a>
            </div>
        </div>
        <div class="row">
            <div class="large-2 columns">
                <i class="material-icons">domain</i>
                <p>Public Sector</p>
            </div>
            <div class="large-2 columns">
                <i class="material-icons">accessibility</i>
                <p>Philantrophy &amp; Aid</p>
            </div>
            <div class="large-2 columns">
                <i class="material-icons">add_location</i>
                <p>Geospatial Services</p>
            </div>
            <div class="large-2 columns">
                <i class="material-icons">done</i>
                <p>Politics &amp; Elections</p>
            </div>
            <div class="large-2 columns">
                <i class="material-icons">healing</i>
                <p>Health</p>
            </div>
            <div class="large-2 columns">
                <i class="material-icons">school</i>
                <p>Education</p>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <i class="material-icons">person_pin</i>
                <p>Empowering Citizens</p>
            </div>
            <div class="large-3 columns">
                <i class="material-icons">account_balance</i>
                <p>Improving Government</p>
            </div>
            <div class="large-3 columns">
                <i class="material-icons">trending_up</i>
                <p>New Economic Opportunities</p>
            </div>
            <div class="large-3 columns">
                <i class="material-icons">public</i>
                <p>Solving Public Problems</p>
            </div>
        </div>
        <div>
            <div class="row">
                <h3>Kenya's Open Duka</h3>
                <p><em>Open Data for Transactional Transparency</em></p>
            </div>
            <div class="row">
                <h3>Open Education Information in Tanzania</h3>
                <p><em>A Tale of Two Dashboards</em></p>
            </div>
            <div class="row">
                <h3>Kenya's Open Duka</h3>
                <p><em>Open Data for Transactional Transparency</em></p>
            </div>
        </div>
    </div>

</main><!--@main-->


{% endblock %}