{% extends "_base.html" %}
{% block page_id %}odi-landing{% endblock %}

{% block content %}
<main role="main">

    <div class="b-top-section m-hires-1 m-center m-flush-top">
        <div class="b-shader">
            <h1 class="m-sm m-space-1">Today, Open Data is changing the world in 4 unique ways...</h1>
            <a href="#" class="b-button m-teal m-space-3" id="explore-button">Explore Case Studies</a>
            <p class="m-lg m-space-3">&mdash; or &mdash;</p>
            <a id="top-section-arrow"><i class="material-icons m-lg-faded m-space-3">arrow_drop_down_circle</i></a>
        </div>
    </div>

    <div class="b-page-section m-impact-section">
        <div class="row m-spaced"></div>
        <div class="row m-spaced">
            <a name="section-1" id="a-section-1"></a>
            <div class="large-5 large-offset-1 columns">
                <h2>Empowering Citizens</h2>
                <p>6 case studies</p>
                <i class="material-icons m-xl-badge m-gray" id="badge-1">person_pin</i>
            </div>
            <div class="large-5 columns end">
                <p class="b-description">
                    Open Data is empowering citizens to take control of their lives and demand change. It does so by facilitating <strong>more informed decision making</strong> and enabling <strong>new forms of social mobilization</strong>, which often take place via social media or other new platforms.
                </p>
            </div>
        </div>
        <div class="row m-spaced">
            <div class="large-5 large-offset-1 columns">
                <h2>Improving Government</h2>
                <p>6 case studies</p>
                <i class="material-icons m-xl-badge m-gray" id="badge-2">account_balance</i>
            </div>
            <div class="large-5 columns end">
                <p class="b-description">
                    In particular by <strong>making governments more accountable</strong>, especially by helping tackle corruption and adding transparency to a host of government responsibilities and functions; and <strong>making government more efficient</strong>, especially by enhancing public services and resource allocation.
                </p>
            </div>
        </div>
        <div class="row m-spaced">
            <div class="large-5 large-offset-1 columns">
                <h2>Creating New Opportunities</h2>
                <p>6 case studies</p>
                <i class="material-icons m-xl-badge m-gray" id="badge-3">trending_up</i>
            </div>
            <div class="large-5 columns end">
                <p class="b-description">
                    Around the world, greater transparency and more information are stimulating economic growth, opening up <strong>new sectors</strong>, and <strong>fostering innovation</strong>. In the process, open data is <strong>creating new jobs</strong> and new ways for citizens to prosper.
                </p>
            </div>
        </div>
        <div class="row m-spaced">
            <div class="large-5 large-offset-1 columns">
                <h2>Solving Public Problems</h2>
                <p>6 case studies</p>
                <i class="material-icons m-xl-badge m-gray" id="badge-4">public</i>
            </div>
            <div class="large-5 columns end">
                <p class="b-description">
                    Open data is allowing citizens and policymakers to analyze societal problems in new ways and engage in <strong>new forms of data-driven assessment</strong> and engagement.
                </p>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row m-spaced">
            <h1 class="m-sm">The level of impact depends on 4 enabling conditions</h1>
        </div>
        <div class="row m-center" data-equalizer>
            <div class="large-3 columns m-spaced">
                <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                    <i class="material-icons m-xl m-black">speaker_notes</i>
                    <p>Strong Problem Definition</p>
                </a>
            </div>
            <div class="large-3 columns m-spaced">
                <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                    <i class="material-icons m-xl m-black">directions_transit</i>
                    <p>Right Infrastructure</p>
                </a>
            </div>
            <div class="large-3 columns m-spaced">
                <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                    <i class="material-icons m-xl m-black">people_outline</i>
                    <p>Working Partnerships</p>
                </a>
            </div>
            <div class="large-3 columns m-spaced">
                <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                    <i class="material-icons m-xl m-black">assessment</i>
                    <p>Clear Policies &amp; Metrics</p>
                </a>
            </div>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row m-spaced m-center">
            <h2>Yet, there are challenges that must be overcome for Open Data projects to reach their highest potential</h2>
        </div>
        <div class="row m-center" data-equalizer>
            <div class="large-6 columns b-divider m-blue m-padded" data-equalizer-watch>
                <h3>Readiness</h3>
                <p>Low technical and human capacity often pose inhospitable environments for open data projects</p>
            </div>
            <div class="large-6 columns b-divider m-purple m-padded" data-equalizer-watch>
                <h3>Responsiveness</h3>
                <p>Success is limited when projects are unresponsive to feedback and user needs</p>
            </div>
        </div>
        <div class="row m-center" data-equalizer>
            <div class="large-6 columns b-divider m-teal m-padded" data-equalizer-watch>
                <h3>Risks</h3>
                <p>Major challenges arise from the tradeoffs between the potential of open data and the risks posed by privacy and security violations</p>
            </div>
            <div class="large-6 columns b-divider m-orange m-padded" data-equalizer-watch>
                <h3>Resources</h3>
                <p>Inadequate resource allocation is one of the most common reasons for limited success or outright failure</p>
            </div>
        </div>
    </div>

    <div class="b-page-section m-center">
        <div class="row m-spaced">
            <p class="m-xl"><strong>Follow our 10 Recommendations for Open Data Impact</strong> in order to overcome the challenges and ensure highest impact from your open data projects</p>
        </div>
        <div class="row m-spaced">
            <p>
                <a href="#" class="b-button m-icon-only">
                    <i class="material-icons">file_download</i>
                    <br />
                    Download the Report
                </a>
            </p>
        </div>
        <div class="row">
            <p>&mdash; or &mdash;</p>
        </div>
    </div>

    <div class="b-page-section">
        <div class="row m-center m-spaced">
            <a name="explore" id="a-explore"></a>
            <p class="m-xl"><strong>Explore the Impact of Open Data</strong> around the world</p>
        </div>
        <ul class="tabs" data-tabs id="explore-tabs">
            <li class="tabs-title is-active"><a href="#panel1">Sector</a></li>
            <li class="tabs-title"><a href="#panel2">Impact</a></li>
            <a href="#">Download all case studies</a>
        </ul>
        <div class="tabs-content" data-tabs-content="explore-tabs" id="explore-content" data-equalizer>
            <div class="tabs-panel is-active" id="panel1">
                <div class="row tab-equalizer">
                    <div class="large-2 columns">
                        <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                            <i class="material-icons m-lg">domain</i>
                            <br>Public Sector
                        </a>
                    </div>
                    <div class="large-2 columns">
                        <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                            <i class="material-icons m-lg">accessibility</i>
                            <br>Philantrophy &amp; Aid
                        </a>
                    </div>
                    <div class="large-2 columns">
                        <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                            <i class="material-icons m-lg">add_location</i>
                            <br>Geospatial Services
                        </a>
                    </div>
                    <div class="large-2 columns">
                        <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                            <i class="material-icons m-lg">done</i>
                            <br>Politics &amp; Elections
                        </a>
                    </div>
                    <div class="large-2 columns">
                        <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                            <i class="material-icons m-lg">healing</i>
                            <br>Health
                        </a>
                    </div>
                    <div class="large-2 columns">
                        <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                            <i class="material-icons m-lg">school</i>
                            <br>Education
                        </a>
                    </div>
                </div>
            </div>
            <div class="tabs-panel" id="panel2">
                <div class="row">
                    <div class="large-3 columns">
                        <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                            <i class="material-icons m-lg">person_pin</i>
                            <br>Empowering Citizens
                        </a>
                    </div>
                    <div class="large-3 columns">
                        <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                            <i class="material-icons m-lg">account_balance</i>
                            <br>Improving Government
                        </a>
                    </div>
                    <div class="large-3 columns">
                        <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                            <i class="material-icons m-lg">trending_up</i>
                            <br>New Economic Opportunities
                        </a>
                    </div>
                    <div class="large-3 columns">
                        <a href="#" class="b-button m-panel m-icon-only" data-equalizer-watch>
                            <i class="material-icons m-lg">public</i>
                            <br>Solving Public Problems
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <h3>Kenya's Open Duka</h3>
                <p><em>Open Data for Transactional Transparency</em></p>
            </div>
            <div class="row">
                <h3>Open Education Information in Tanzania</h3>
                <p><em>A Tale of Two Dashboards</em></p>
            </div>
            <div class="row">
                <h3>Kenya's Open Duka</h3>
                <p><em>Open Data for Transactional Transparency</em></p>
            </div>
        </div>
    </div>

</main><!--@main-->


{% endblock %}