{% extends "_base.html" %}
{% block page_id %}about-page{% endblock %}

{% block content %}
<main role="main">
    <header class="b-top-section m-purple">
        <div class="b-wrap">
            <h1>Thanks</h1>
            <h2>We appreciate your feedback</h2>
        </div>
    </header>
    <section class="b-page-section">
        <div class="row m-center m-padded">
            <a href="about.html" class="b-button">Return to the case studies</a>
        </div>
    </section>
</main>
{% endblock %}