body{
  font-family: sans-serif;
  color: rgba(255,255,255,1);
  line-height: 1.6;
  font-weight: 100;
}
.wrapper {
  width: 600px;
  margin: 40px auto;
}

.accordion {
 border: none;
}

.accordion-item {

}

.accordion dt {
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.accordion dd {
  max-height: 0;
  overflow: hidden;
  transition: max-height .8s ease;
  padding: 0 15px;
  background-color: #efefef;
  box-sizing: border-box;
  margin: 0;
}
.dt-1, .dt-3,{
  background-color:rgba(31,137,176, 1);
}
.dt-2{
  background:rgba(19,124,159, 1);
}

.dd-1, .dd-3{
}

.accordion-item.active dd {
  max-height: 900px;
}
