.b-button {
    &.m-panel {
        display: block;
        i {
            &.m-lg {
                font-size: 50px;
            }
            &.m-xl {
                font-size: 150px;
            }
        }
    }
}