.b-button {
    &.m-panel {
        display: block;
        i {
            &.m-lg {
                font-size: 50px;
            }
            &.m-xl {
                font-size: 150px;
            }
        }
    }

    &.m-transparent {
        background-color: transparent;
    }

    &.m-negative {
        color: $white;
    }

    &.m-box {
        max-width: 150px;
        border: solid 1px $white;
    }
}