.b-divider {
    div {
        max-width: 95%;
    }
    &.m-next {
        position: relative;
        div {
            max-width: 500px;
            position: absolute;
            right: 100px;
            top: 30px;
            * {
                vertical-align: middle;
                @include breakpoint($mobile-only) {
                    text-align: left;
                }
            }
            h1, h2 {
                margin-left: 10px;
            }
            h1 {
                text-transform: uppercase;
                font-size: 17px;
                font-weight: 600;
                color: $white-30;
            }
            h2 {
                text-transform: none;
                font-size: 20px;
                font-weight: 400;
                color: $white-70;
                text-transform: uppercase;
                @include transition;
            }
            h2::after {
                @include material-icons;
                content: 'chevron_right';
                font-size: 35px;
                padding-bottom: 4px;
                color: $white-30;
                vertical-align: middle;
            }
            a:hover {
                text-decoration: none;
                h2 {
                    color: $white;
                    @include transition;
                }
            }
        }
    }
}