.map {

  width: 900px;
  margin: 0 auto;

  @include breakpoint($desktop) {
    display: block;
  }
  @include breakpoint($mobile-only) {
    display: none;
  }

  .background {
    fill: none;
    pointer-events: all;
  }

  .country {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .node {
    &.fade circle {
      opacity: .15;
      transition: opacity 0.5s;
    }

    circle {
      opacity: .75;
      cursor: pointer;
      transition: opacity 0.5s;

      &.active {
        opacity: .9;
        fill: rgb(0, 138, 179) !important;
        transition: opacity 0.1s;
      }
    }

    text {
      fill: #fff;
      cursor: pointer;
    }
  }

  .region {
    fill: #ddd;
    cursor: pointer;
    transition: fill 0.1s;

    &.active {
      fill: #bbb;
      transition: fill 0.1s;
    }

    &.selected {
      fill: rgb(193,216,221);
    }
  }

}


.map-caption {
  @include breakpoint($desktop) {
    display: block;
  }
  @include breakpoint($mobile-only) {
    display: none;
  }
  &.default {
    color: $gray-20;
  }
}

.map-alt {
  display: none;

  @include breakpoint($desktop) {
    display: none;
  }
  @include breakpoint($mobile-only) {
    display: block;
  }
}