.b-page-section {

    .row, .columns {
        &.m-spaced {
            margin-bottom: 50px;
        }
        &.m-padded {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    &.m-impact-section {
        h2 {
            font-size: 60px;
            font-weight: 200;
            text-transform: none;
            line-height: 1.1;
            & ~ p {
                text-transform: uppercase;
                font-size: 18px;
                font-style: italic;
                color: $white-60;
                margin: 30px 0 0 0;
            }
        }
        p {
            &.b-description {
                font-weight: 300;
                font-size: 24px;
                margin-top: 5px;
            }
        }
    }

    aside {
        color: $gray-40;
        font-size: 22px;
        text-transform: uppercase;
    }

    .m-lr-padding {
        margin-left: 100px;
        margin-right: 100px;
    }

    .e-expandable {
        @include breakpoint($desktop) { max-height: 500px;}
        @include breakpoint($mobile-only) { max-height: 1000px;}
        height: auto;
        @include transition;

        .b-button.m-less { display: none; }

        &.m-active {
            max-height: 4000px;
            @include transition;

            .b-button.m-more { display: none; }
            .b-button.m-less { display: inline-block; }
        }

        p { margin-bottom: 15px; }

        p:not(:first-of-type) { display: none; }

        p:only-of-type ~ .b-button { display: none; }

        &.m-active p { display: block; }

        .b-button { color: $purple; }
    }

    p.e-last {
        text-align: right;
        color: $gray-30;
        a {
            text-decoration: underline;
        }
    }

    &.m-yellow {
        background-color: $yellow;
        color: $white;
    }

    &.m-fuschia {
        background-color: $fuschia;
        color: $white;
    }
}