.b-page-section {

    .row, .columns {
        &.m-spaced {
            margin-bottom: 50px;
        }
        &.m-padded {
            padding: 100px 50px;
        }
        &.m-dark-blue {
            background-color: $dark-blue;
        }
        &.m-dark-blue-2 {
            background-color: $dark-blue-2;
        }

    }

    aside {
        color: $gray-40;
        font-size: 22px;
        text-transform: uppercase;
    }

    &.m-condensed {
        aside {
            font-size: 18px;
            text-align: right;
            margin: 0 50px 0 0;
            min-width: 200px;

            @include breakpoint($mobile-only) {
                text-align: center;
                padding: 30px;
                font-size: 30px;
            }
        }

        .row {
            max-width: 65rem;
        }


        p, ul {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.62;
        }
    }


    .m-lr-padding {
        margin-left: 100px;
        margin-right: 100px;
    }

    .e-expandable {
        // @include breakpoint($desktop) { max-height: 500px;}
        // @include breakpoint($mobile-only) { max-height: 1000px;}
        height: auto;
        @include transition;

        .b-button.m-less { display: none; }

        > *:not(.b-button) { display: none; }

        .b-button.m-more i { display: inline }

        &.m-active {
            // max-height: 4000px;
            @include transition;

            .b-button.m-more { display: none; }
            .b-button.m-less { display: inline-block; }
        }

        p { margin-bottom: 15px; }

        // p:not(:first-of-type) { display: none; }

        > p:first-of-type { display: block; }

        > p:only-of-type ~ .b-button { display: none; }

        &.m-active > *:not(.b-button) { display: block; }
        // &.m-active li { display: list-item; }

        .b-button { color: $purple; }


        a[data-open] {
            background-color: $cool-gray-10;
            text-decoration: none;
            color: $black;
            sup {
                font-size: 11px;
                padding: 0 4px;
            }
            &:hover {
                background-color: $cool-gray-20;
                @include transition;
            }
        }

    }

    p.e-last {
        text-align: right;
        color: $gray-30;
        a {
            text-decoration: underline;
        }
    }

    &.m-yellow {
        background-color: $yellow;
        color: $white;
    }

    &.m-fuschia {
        background-color: $fuschia;
        color: $white;
    }

    &.m-no-padding {
        padding: 0;
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .columns.m-no-padding {
            padding: 0;
        }
    }

    &.m-no-bottom-padding {
        padding-bottom: 0;
    }

    &.m-no-top-padding {
        padding-top: 0;
    }

    &.m-impact-section {
        h2 {
            font-size: 60px;
            font-weight: 200;
            text-transform: none;
            line-height: 1.1;
            & ~ p {
                text-transform: uppercase;
                font-size: 18px;
                font-style: italic;
                color: $white-60;
                margin: 30px 0 0 0;
            }
        }
        p {
            &.b-description {
                font-weight: 300;
                font-size: 24px;
                margin-top: 5px;
            }
        }
    }

    &.m-margin-lead {
        margin-top: 60px;
    }

    &.m-hidden {
        display: none;
    }

    &#enabler-icons {
        .columns {
            &:nth-child(odd) .b-button {
                background-color: $teal;

            }
            &:nth-child(even) .b-button {
                background-color: $teal-light;
            }
            .b-button {
                color: $white;
                padding-top: 50px;
                padding-bottom: 50px;
                i {
                    color: $white-40;
                }
                &:hover {
                    // background-color: $teal-20k;
                    cursor: default;
                }
            }
        }
    }

    &#challenges-section {
        .columns {
            h3 {
                font-size: 26px;
                font-weight: 500;
            }
            p {
                font-size: 22px;
                line-height: 1.5;
            }
        }
    }

    &#download-section {
        padding: 60px 0;
        h2 {
            font-size: 28px;
            font-weight: 600;
        }
        p {
            font-size: 22px;
            line-height: .9;
        }
        .b-button {
            margin: 40px 0 0 0;
        }
    }

    &#upcoming-section {
        padding: 60px 0;
        a {
            text-decoration: none;
            font-style: italic;
            font-weight: 700;
            color: $white-70;
            @include transition;
            &:hover {
                color: $white;
                @include transition;
            }
        }
        h2 {
            font-size: 28px;
            font-weight: 800;
        }
        p {
            margin: 35px 50px;
            font-size: 22px;
            line-height: 1.62;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &#results {
        // max-width: 75rem;
    }

    &#no-results {
        text-align: center;
        h3 {
            color: $gray-40;
            font-size: 25px;
            margin: 100px 0;
        }
    }
}

main {
    .b-divider {
        padding: 60px 0;
        // background-color: $gray-70;
    }
}