.e-project-item {
    display: inline-block;
    background-color: $white; 
    height: 0;
    padding-bottom: 20%;
    padding-top: 2%;
    margin: 2%;
    border: 1px solid $gray-20;
    text-align: center;
    
    &.m-clickable {
        cursor: pointer;
    }

    img {
        max-height: 180px;
        max-width: 180px;
    }
}
