.b-projects-list-wrapper {
    @include breakpoint($desktop) {
        display: -webkit-flex;
        display: flex;
    }
    .e-project-list {
        @include breakpoint($desktop) {
            -webkit-flex: 4;
            flex: 4;
        }
    }

    .e-project-item {
        @include breakpoint($mobile-only) { margin: 15px; }

        &:not(:last-child) {
            @include breakpoint($mobile-only) {
                border-bottom: 1px solid $gray-15; }
        }

        h2 {
            font-weight: 800;
            text-transform: uppercase;
            line-height: 1.2;
            font-size: 18px;
        }

        p {
            font-size: 14px;
            line-height: 1.4;
        }

        .b-button {
            margin-left: -20px;
        }

        &.m-active-False {
            pointer-events: none;
            background-color: transparent !important;

            h2 { opacity: .3;}
        }

        &.m-active {
            background-color: $white;

            .e-project-tooltip {
                @include transition;
                a {
                    color: $white;
                    text-decoration: underline;
                }
                @include breakpoint($mobile-only) {
                    display: block;
                    height: auto;
                    max-height: 300px;
                }
            }
        }
    }
}

.b-project-view.m-list .b-projects-list-wrapper {
    .e-project-item {
        @include breakpoint($desktop) {
            background-color: $white;
            display: -webkit-flex;
            display: flex;
            border-bottom: 1px solid $white;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            // padding: 20px 0;
            &.m-clickable {
                cursor: pointer;
            }
        }

        h2 {
            margin: 0 40px 0;
            -webkit-flex: 1;
            flex: 1;
        }
    }

    .e-project-item {
        p {
            font-size: 16px;
            color: $white;
        }

        .e-project-tooltip {
            max-height: 0;
            overflow: hidden;
            @include transition;
        }

        &.m-active {
            background-color: $white;

            .e-project-tooltip {
                @include transition;
                @include breakpoint($desktop) {
                    display: block;
                    height: auto;
                    max-height: 800px;
                }
            }
        }
    }
}

.b-project-view.m-grid .b-projects-list-wrapper {
    .e-project-group {
        @include breakpoint($desktop) { padding: 15px; }
    }

    .e-project-item {
        &:not(:last-child) {
            @include breakpoint($mobile-only) { border-bottom: 1px solid $gray-15; }
        }

        @include breakpoint($desktop) {
            width: calc(33% - 30px);
            display: inline-block;
            // turns tile white
            background-color: $white; 
            height: 0;
            padding-bottom: calc(33% - 30px);
            margin: 15px;
            vertical-align: top;
            position: relative;
            border: 1px dotted $gray-20;
            &.m-clickable {
                cursor: pointer;
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto; 
                height: 100%;
            }
        }

        h2 {
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.2;
            font-size: 18px;

            @include breakpoint($desktop) {
                font-size: 20px;
                padding: 20px;
                position: absolute;
                top: 0;
            }
        }

        .e-project-blurb {
            font-size: 14px;
            line-height: 1.4;

            @include breakpoint($desktop) {
                padding: 20px;
                position: absolute;
                bottom: 0;
            }
        }
    }

    .e-project-item {
        .e-project-tooltip { display: none; }

        &.m-active .e-project-tooltip {
            display: block;

            @include breakpoint($desktop) {
                position: absolute;
                top: calc(100%);
                width: calc(200% + 30px);
                max-height: 800px;
                z-index: 100;
                background-color: $black;
                box-shadow: 3px 2px 20px $gray-20;
                padding: 30px;
                left: 0;
                color: $white;
                font-size: 18px;
            }

            &:before {
                @include breakpoint($desktop) {
                    content: "";
                    width: 0;
                    height: 0;
                    border-bottom: 20px solid $black;
                    border-right: 20px solid transparent;
                    border-left: 20px solid transparent;
                    position: absolute;
                    top: -20px;
                    left: calc(18%)
                }
            }
        }

        &:nth-of-type(3n).m-active .e-project-tooltip {
            @include breakpoint($desktop) {
                left: auto;
                right: 0 !important;
            }

            &:before {
                @include breakpoint($desktop) {
                    right: calc(18%);
                    left: auto;
                }
            }
        }
    }
}
