.b-sticky {
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.8);
    color: $white-60;
    box-shadow: 0 0 10px $gray-20;

    @include breakpoint($mobile-only) {
        padding: 20px 0;
    }
    @include breakpoint($desktop) {
        padding: 40px 0;
    }

    .row {
            max-width: 85%;
            a {
                text-decoration: none;
                font-style: italic;
                font-weight: 700;
                color: $white-80;
                @include transition;
                &:hover {
                    color: $white;
                    @include transition;
                }
            }
            h3 {
                font-size: 28px;
                font-weight: 800;
                text-transform: capitalize;
            }
            p {
                margin: 35px 50px;
                font-size: 18px;
                line-height: 1.62;
                &:last-of-type:not(:only-of-type) {
                    font-size: 18px;
                    margin-bottom: 0;
                }
            }


            @include breakpoint($mobile-only) {
                text-align: left;
                p, h3 {
                    margin: 20px;
                    display: block;
                    &:last-of-type:not(:only-of-type) {
                        display: none;
                    }
                }
            }

            @include breakpoint($desktop) {
                text-align: left;
                p {
                    //display: inline;
                    &:last-of-type:not(:only-of-type) {
                        display: block;
                        margin: 0 40px;
                    }
                }
                h3 {
                    display: inline;
                    margin: 0;
                }
            }
        }

        img {
            margin-right: 40px;
            max-height: 150px;
            float: left;
        }
    }

    i.e-close {
        position: absolute;
        right: 50px;
        cursor: pointer;
    }


