.tabs {
    display: inline-block;
    position: relative;
    border: 0;
    & > .tabs-title {
        background-color: $gray-30;
        margin: 0 10px;
        & > a {
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
                color: $white;
            }
        }
    }

    .e-side-link {
        padding: 17px 0;
        position: absolute;
        right: 25px;
        // color: $white;
    }
}

.tabs-content {
    .tabs-panel {
        // padding: 0;
        .row {
            // max-width: none;
            .columns {
                text-align: center;
                // padding: 0;
            }
        }
    }
    .b-button {
        background-color: transparent;
        font-size: 12px;
        text-transform: none;
        width: 100%;
        &:hover {
            background-color: $gray-10;
        }
        &:focus {
            outline: none;
        }
        &.selected {
            background-color: $gray-05;
        }
    }
}