p {
    &.m-lg {
        font-size: 20px;
    }

    &.m-xl {
        font-size: 32px;
    }

    &.m-space-top {
        margin-top: 40px;
    }

    &.m-space-only-top {
        margin: 40px 0 0 0;
    }

    &.m-no-space {
        margin: 0;
    }

    &.m-underline {
        text-decoration: underline;
    }


}

i {
    &.m-xl {
        font-size: 100px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    &.m-xl-badge {
        width: 100px;
        font-size: 100px;
        color: $white-20;
        opacity: 0;
        margin: 30px 0 0 0;
    }
    &.m-gray { color: $gray-10; }
    &.m-black { color: $gray-60; }
}

h2.m-upper {
    text-transform: uppercase;
}

