$facebook-blue: #3b5998;
$google-plus-red: #dd4b39;
$twitter-blue: #55acee;
$linkedin-blue: #007bb5;
$gray-20-solid: #ccc;

$dark-blue: #164A7A;
$dark-blue-2: #103456;

$yellow: #C2C33B;
$fuschia: #AD0054;

$teal-light: #1A939E;

$cool-gray-10: #E8EBF2;