$facebook-blue: #3b5998;
$google-plus-red: #dd4b39;
$twitter-blue: #55acee;
$linkedin-blue: #007bb5;
$gray-20-solid: #ccc;



$yellow: #C2C33B;
$yellow-20k: #9c9d2f;
$fuschia: #AD0054;
$fuschia-20k: #80003e;

$teal-light: #1A939E;

$cool-gray-10: #E8EBF2;
$cool-gray-20: #ced5e3;

$purple-90: rgba(82,48,128,.9);
$purple-80: rgba(82,48,128,.8);
$purple-50: rgba(82,48,128,.5);


// Dark Blue for this website

$dark-blue: #164A7A;
$dark-blue-2: #103456;

$od-blue: #164A7A;
$od-blue-05: rgba(22,74,122,.05);