$facebook-blue: #3b5998;
$google-plus-red: #dd4b39;
$twitter-blue: #55acee;
$linkedin-blue: #007bb5;
$gray-20-solid: #ccc;

$dark-blue: #164A7A;
$dark-blue-2: #103456;

$yellow: #C2C33B;
$yellow-20k: #9c9d2f;
$fuschia: #AD0054;
$fuschia-20k: #80003e;

$teal-light: #1A939E;

$cool-gray-10: #E8EBF2;
$cool-gray-20: #ced5e3;